Arquivo de dependências Python para o projeto de previsão de attrition.

Use o comando 'pip install -r requirements.txt' para instalar.

Core para Análise e Manipulação de Dados
pandas
numpy

Visualização de Dados
matplotlib
seaborn

Machine Learning e Pipeline
scikit-learn
xgboost
imbalanced-learn

Interpretabilidade do Modelo
shap

Serialização do Modelo
joblib

Parâmetros e Barras de Progresso
optuna
tqdm